.row
  .col-md-6
    = f.input :fecha, as: :string, input_html: { class: "fecha-comun" }
  .col-md-6
    = f.input :observaciones
  .col-md-12
    = f.input :years, collection: (2010..2019).to_a, input_html: { class: "select2-multiple", multiple: true }
    = f.input :type, as: :hidden, value: "DatosPermisoPublicidad"
