.col-md-6
  .card.card-danger
    .card-header
      %h5.card-title Card title
    .card-body
      %p.card-text
        Some quick example text to build on the card title and make up the bulk of the card's
        content.
      %a.card-link{:href => "#"} Card link
      %a.card-link{:href => "#"} Another link
.col-md-6
  .card.card-danger.card-outline
    .card-body
      %h5.card-title Card title
      %p.card-text
        Some quick example text to build on the card title and make up the bulk of the card's
        content.
      %a.card-link{:href => "#"} Card link
      %a.card-link{:href => "#"} Another link

