.row.text-center
  .col-md-2.center-vertical
    = wicked_pdf_image_tag(current_emisor.logotipo_small_url, class: "img-rounded")
  .col-md-7.center-vertical
    .text-center.text-uppercase
      %strong
        = current_emisor.nombre_con_rfc
      %br
      %strong
        = current_emisor.direccion
  .col-md-2.center-vertical
    = wicked_pdf_image_tag(current_emisor.escudo_small_url, class: "img-rounded")
