---
http_interactions:
- request:
    method: get
    uri: https://t2demo.facturacionmoderna.com/timbrado/wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:tns=\"https://t2demo.facturacionmoderna.com/timbrado/soap\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap-enc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" name=\"Timbrado_Manager\"
        targetNamespace=\"https://t2demo.facturacionmoderna.com/timbrado/soap\"><types><xsd:schema
        targetNamespace=\"https://t2demo.facturacionmoderna.com/timbrado/soap\"/></types><portType
        name=\"Timbrado_ManagerPort\"><operation name=\"consultarEstatusCFDI\"><documentation>Consulta
        Estatus de CFDI en SAT \nretorna estatus o error</documentation><input message=\"tns:consultarEstatusCFDIIn\"/><output
        message=\"tns:consultarEstatusCFDIOut\"/></operation><operation name=\"receptorPeticionesPendientes\"><documentation>Consulta
        Peticiones Pendientes de Aceptacion/Rechazo \nretorna lista de peticiones
        o error</documentation><input message=\"tns:receptorPeticionesPendientesIn\"/><output
        message=\"tns:receptorPeticionesPendientesOut\"/></operation><operation name=\"receptorAceptacionRechazo\"><documentation>Aceptar/Rechazar
        Solicitudes de Cancelacion\nretorna estatus o error</documentation><input
        message=\"tns:receptorAceptacionRechazoIn\"/><output message=\"tns:receptorAceptacionRechazoOut\"/></operation><operation
        name=\"consultarRelacionados\"><documentation>Consulta Cfdis Relacionados
        a Uuid\nretorna lista de relaciones o error</documentation><input message=\"tns:consultarRelacionadosIn\"/><output
        message=\"tns:consultarRelacionadosOut\"/></operation><operation name=\"consultarSaldo\"><documentation>Recibe
        la solicitud de un partner para consultar el saldo disponible seg&#xFA;n los
        timbres contratados.</documentation><input message=\"tns:consultarSaldoIn\"/><output
        message=\"tns:consultarSaldoOut\"/></operation><operation name=\"Auth\"><documentation>M&#xE9;todo
        de autenticacion para el servicio de validacion de CFDI.</documentation><input
        message=\"tns:AuthIn\"/><output message=\"tns:AuthOut\"/></operation><operation
        name=\"validarCFDI\"><documentation>Recibe un XML de un CFDI en formato Base64
        y realiza las validaciones requeridas por el SAT.</documentation><input message=\"tns:validarCFDIIn\"/><output
        message=\"tns:validarCFDIOut\"/></operation><operation name=\"verificarCFDI\"><documentation>Verifica
        el estatus de un comprobante en los servicios del SAT. Web Service del Portal
        https://verificacfdi.facturaelectronica.sat.gob.mx</documentation><input message=\"tns:verificarCFDIIn\"/><output
        message=\"tns:verificarCFDIOut\"/></operation><operation name=\"requestTimbrarCFDI\"><documentation>Recibe
        un CFDI en formato Base64 y\nretorna el complemento Timbre Fiscal Digital</documentation><input
        message=\"tns:requestTimbrarCFDIIn\"/><output message=\"tns:requestTimbrarCFDIOut\"/></operation><operation
        name=\"requestCancelarCFDI\"><documentation>Recibe un UUID para cancelar \nretorna
        el estatus del UUID</documentation><input message=\"tns:requestCancelarCFDIIn\"/><output
        message=\"tns:requestCancelarCFDIOut\"/></operation><operation name=\"activarCancelacion\"><documentation>Activar
        Cancelacion, recibe un archivo .cer, .key y contrasenia del CSD \nretorna
        exito o error</documentation><input message=\"tns:activarCancelacionIn\"/><output
        message=\"tns:activarCancelacionOut\"/></operation><operation name=\"recuperarAcuse\"><documentation>Acuses
        de Envio/Cancelacion</documentation><input message=\"tns:recuperarAcuseIn\"/><output
        message=\"tns:recuperarAcuseOut\"/></operation></portType><binding name=\"Timbrado_ManagerBinding\"
        type=\"tns:Timbrado_ManagerPort\"><soap:binding style=\"rpc\" transport=\"http://schemas.xmlsoap.org/soap/http\"/><operation
        name=\"consultarEstatusCFDI\"><soap:operation soapAction=\"https://t2demo.facturacionmoderna.com/timbrado/soap#consultarEstatusCFDI\"/><input><soap:body
        use=\"encoded\" encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"
        namespace=\"https://t2demo.facturacionmoderna.com/timbrado/soap\"/></input><output><soap:body
        use=\"encoded\" encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"
        namespace=\"https://t2demo.facturacionmoderna.com/timbrado/soap\"/></output></operation><operation
        name=\"r[...]
- request:
    method: post
    uri: https://t2demo.facturacionmoderna.com/timbrado/soap
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://t2demo.facturacionmoderna.com/timbrado/soap" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:requestTimbrarCFDI><param0><UserPass>b9ec2afa3361a59af4b4d102d3f704eabdf097d4</UserPass><UserID>UsuarioPruebasWS</UserID><emisorRFC>AAA111111AAA</emisorRFC><text2CFDI>W0NvbXByb2JhbnRlRmlzY2FsRGlnaXRhbF0NCg0KVmVyc2lvbj0zLjMNCkZl
        Y2hhPTIwMTktMDItMTNUMDA6MDA6MDANCkZvbGlvPTENCk5vQ2VydGlmaWNh
        ZG89DQpTdWJUb3RhbD00MDAuMDANCkRlc2N1ZW50bz0NClRvdGFsPTQwMC4w
        MA0KU2VyaWU9QQ0KVGlwb0RlQ29tcHJvYmFudGU9SQ0KRm9ybWFQYWdvPTAx
        DQpNZXRvZG9QYWdvPVBVRQ0KTW9uZWRhPU1YTg0KTHVnYXJFeHBlZGljaW9u
        PTY4MzAwDQoNCltEYXRvc0FkaWNpb25hbGVzXQ0KDQp0aXBvRG9jdW1lbnRv
        PUZhY3R1cmENCg0KW0VtaXNvcl0NCg0KUmZjPUFBQTExMTExMUFBQQ0KTm9t
        YnJlPUhVQUpVQVBBTiBERSBMRcOTTg0KUmVnaW1lbkZpc2NhbD02MDMNCg0K
        W1JlY2VwdG9yXQ0KDQpSZmM9UkFBMTExMTExQUFBDQpOb21icmU9UGVkcm8N
        ClVzb0NGREk9UDAxDQoNCltDb25jZXB0byMxXQ0KDQpDYW50aWRhZD0xLjAN
        CkNsYXZlUHJvZFNlcnY9OTMxNjE3MDANCkNsYXZlVW5pZGFkPUU0OA0KRGVz
        Y3JpcGNpb249UGFnbyBkZSByaWZhcw0KVmFsb3JVbml0YXJpbz0xMDAuMDAN
        CkltcG9ydGU9MTAwLjAwDQpEZXNjdWVudG89DQoNCltDb25jZXB0byMyXQ0K
        DQpDYW50aWRhZD0yLjANCkNsYXZlUHJvZFNlcnY9OTMxNjE3MDANCkNsYXZl
        VW5pZGFkPUU0OA0KRGVzY3JpcGNpb249UGFnbyBkZSBzb3J0ZW9zDQpWYWxv
        clVuaXRhcmlvPTE1MC4wMA0KSW1wb3J0ZT0zMDAuMDANCkRlc2N1ZW50bz0N
        Cg0K
        </text2CFDI></param0></tns:requestTimbrarCFDI></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://t2demo.facturacionmoderna.com/timbrado/soap#requestTimbrarCFDI"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Service Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>FM509</faultcode><faultstring>El RFC no esta asociado con sus credenciales de acceso.</faultstring></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Wed, 13 Feb 2019 22:25:53 GMT
recorded_with: VCR 4.0.0
