.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle del Cierre de Caja
      .card-body
        .row
          .col-md-6
            %fieldset
              %legend
                %i.fa.fa-user
                &nbsp;
                Información
            %h6
              Monto:
              = @cierre_caja.monto
            %h6
              Observación:
              = @cierre_caja.observacion
            %h6
              Usuario:
              = @cierre_caja.usuario.nombre

        .btn-group.float-right
          = link_to cierre_cajas_path, class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
