@import '~bootstrap/scss/functions';
@import 'var';
@import '~bootstrap/scss/bootstrap';
@import 'var_adminlte';
@import 'landing';

.alert {
  position: absolute;
  right: -25px;
  top: -25px;
  z-index: 999;
}

.btn-primary {
  color: $white !important;
}

.btn-login {
  @extend .btn;
  color: $white !important;
  background-color: $red !important;
}

.navbar-expand {
  justify-content: space-between !important;
}

.borde-color-1, tr.color-1 { background-color: #f3f6f8; }
.borde-color-2, tr.color-2 { background-color: #dee2e6; }
