@import '~bootstrap/scss/functions';
@import 'var';
@import '~bootstrap/scss/bootstrap';
@import 'var_adminlte';
@import 'landing';

.btn-primary {
  color: $white !important;
}

.btn-login {
  @extend .btn;
  color: $white !important;
  background-color: $red !important;
}

.navbar-expand {
  justify-content: space-between !important;
}

tr.color-1 { background-color: #f3f6f8; }
tr.color-2 { background-color: #dee2e6; }
