= link_to destroy_usuario_session_path, id: "closeSession", class: 'nav-link', method: :delete, data: { confirm_swal: "Cerrar Sesión", con_caja: con_caja?, sin_arqueo: sin_arqueo?, arqueo_pendiente: arqueo_pendiente?, cierre_caja_abierta: cierre_caja_abierta?, cierre_caja_id: cierre_caja_id } do
  %i.fa.fa-sign-out.nav-icon
  %p Cerrar sesión
