// Navbar
%nav.main-header.navbar.navbar-expand.bg-danger.navbar-dark
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#"}
        %i.fa.fa-bars
// end navbar
