%nav.main-header.navbar.navbar-expand.bg-danger.navbar-dark
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#"}
        %i.fa.fa-bars
  .text-right
    Sistema de Ingresos y Gestión Municipal Aplicada
    -#- binding.pry
    - if current_usuario.caja
      %br
        Caja en uso:
        = current_usuario.caja
