.modal.fade{ id: "cuenta_nueva", class: "modal fade", tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-dialog-centered{ style: "max-width:60%", role: "document" }
    .modal-content
      .modal-body
        .container-fluid
          .row
            .col-md-12#form_modal_cuenta
              = render "cuentas/form_modal"
