.modal.fade{ id: "contribuyente_nuevo", class: "modal fade", tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-dialog-centered{ style: "max-width:60%", role: "document" }
    .modal-content
      .modal-body
        .container-fluid
          .row
            .col-md-12#form_modal
              = render "contribuyentes/form_modal"
